.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
  height: 533px;
}

nz-footer {
  text-align: center;
}

.newbg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 64px;
  background-image: url(../../assets/bg.jpeg);
  /* height:600px; */
}
